.nav{
    color: red;
    background-color: lightblue;
    font-family: sans-serif;
    height: 100px;
    width: 150px;
    margin: auto;
    font-weight: bold;
    text-align: center;
}

.return{
    height: 100px;
    width: 100px;
    background-color: red;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

.myfun {
    color: red;
    margin: auto;
    background-color: yellow;
    text-align: center;
    font-style: italic;
    height: 100px;
    width: 150px;
    font-family: sans-serif;
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;

} 